nav
{
	background-color: #3336A7;
	line-height: 200%;
	display: block;
	
}

nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type : none;
}

nav a:link
{
	color:white;
	text-decoration: none;
}

nav a:visited
{
	color:white;
}

nav a:hover
{
	text-decoration: underline;
}

nav a:Active
{
	color:orange;
	text-decoration:underline;
}


h1, h2
{
	font-family: "courier New", uppercase;
}

a, body
{
	font-family: "courier New", cursive;
}

img
{
	
}

h1
{
	border: groove thick grey;
	
	padding: 20px;
	
	margin: 10px;
	
	color:orange;
	
	background-color: black;
	
	text-align:center;
	
	text-transform: capitalize;
}

h2
{
	padding: 10px;
	
	margin: 5px;

	font-size: 1.9em; 
}

a
{
	color:#6D27A0;
}

body
{
	padding: 15px;
	
	margin: 5px;
	
	color:#3336A7;
	
    background-color: black;
	
	font-size: 1.1em;
	
	text-indent: 2em;
	
	background: url(../images/dark_texture1056.jpg) black top left repeat fixed
	
	
}

ul
{
	list-style-type: square;
	
	list-style-position: inside;
}

em, strong
{
	color: blue;
}

.important
{
	color: #7D44D6;
	font-style: italic
}