table
{
	
	border: solid 2px white;
	border-collapse: collapse;
	margin: auto;
	
}

tr, td, th
{
	border: solid 2px white;
	padding: 5px;
	width: 100px;
	text-align: center;
}

Caption
{
	caption-side: top;
}

tr:hover
{
	color: red;
}

a:Active
{
	color: #6D27A0;
	text-decoration: none;
}




body
{
	background: url(../Images/dark_texture1056.jpg) black top left repeat fixed;
	
	background-color: black;
	
	padding: 15px;
	
	margin: 5px;
	
	color: orange;
	
	font-size: 1.1em;
	
	text-indent: 2em;
}

nav
{
	background-color: #3336A7;
	line-height: 200%;
	display: block;
	
}

nav li
{
	display: inline;
	padding-right: 40px;
	list-style-type : none;
}

nav a:link
{
	color:white;
	text-decoration: none;
}

nav a:visited
{
	color:white;
}

nav a:hover
{
	text-decoration: underline;
}

nav a:Active
{
	color: orange;
	text-decoration: underline;
}

h1
{
	border: groove thick grey;
	
	padding: 20px;
	
	margin: 10px;
	
	color:orange;
	
	background-color: black;
	
	text-align:center;
	
	text-transform: capitalize;