h1
{
	color:orange;
	background-color: black;
	text-align:center;
	font-family: "Courier New", uppercase;
	text-transform: capitalize;
}

h2
{
	color:#35979C;

	font-family: "Courier New", uppercase;

	font-size: 1.9em; 
}

a
{
	color:#6D27A0;
	
	font-family: "Courier New", cursive;
}

body
{
	color:#3336A7;
	background-color: black;
	font-size: 1.1em;
	font-family: "Courier New", cursive;
	text-indent; 3em;
	
}